.efecto:hover{
    filter: opacity(50%);
    transition: 800ms;
}


@media all and (max-width: 576px){
    .img-responsive{
        height: 250px;
        object-fit: cover;
    }

    .centrar{
        text-align: center;
    }
}

.logo{
    width: 200px;
    height: auto;
}

.art{
    width: 100%;
}
